<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">Edit Food</h1>
        <div class="col-6 offset-3">
            <form action="/venues/<%=venue._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="foodImage">Food Image Url</label>
                    <input class="form-control" type="text" id="foodImage" name="venue[foodImage]"
                        value="<%=venue.foodImage%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="food">Food Description</label>
                    <textarea class="form-control" type="text" id="food" name="venue[food]"
                        required><%=venue.food%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3"><button class="btn btn-info">Update Food</button></div>
            </form>
            <a href="/venues/<%= venue._id %>">Back to Venue</a>
        </div>
    </div>