<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">Edit Green Room</h1>
        <div class="col-6 offset-3">
            <form action="/venues/<%=venue._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="greenRoomImage">Green Room Image Url</label>
                    <input class="form-control" type="text" id="greenRoomImage" name="venue[greenRoomImage]"
                        value="<%=venue.greenRoomImage%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="greenRoom">Green Room Description</label>
                    <textarea class="form-control" type="text" id="greenRoom" name="venue[greenRoom]"
                        required><%=venue.greenRoom%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3"><button class="btn btn-info">Update Green Room</button></div>
            </form>
            <a href="/venues/<%= venue._id %>">Back to Venue</a>
        </div>
    </div>