<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Venue</h1>
        <div class="col-6 offset-3">
            <form action="/venues" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="venue[title]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="venue[location]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="venue[image]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="venue[description]"></textarea>
                </div>
                <div class="mb-3"><button class="btn btn-success">Add Venue</button></div>
            </form>
            <a href="/venues">All Venues</a>
        </div>
    </div>