<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">Edit Parking</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/venues/<%=venue._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="parkingImage">Parking Image Url</label>
                    <input class="form-control" type="text" id="parkingImage" name="venue[parkingImage]"
                        value="<%=venue.parkingImage%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="parking">Parking Description</label>
                    <textarea class="form-control" type="text" id="parking" name="venue[parking]"
                        required><%=venue.parking%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3"><button class="btn btn-info">Update Parking</button></div>
            </form>
            <a href="/venues/<%= venue._id %>">Back to Venue</a>
        </div>
    </div>